/**
 * Simple Dashboard Template
 * 
 * Simple dashboard template for freedom!
 *
 * @author Gemblue
 * @link https://github.com/gemblue
 */

/* Sidebar */
#sidebar {
    background:#444;
    padding:20px;
    color:#FFF;
    height:1000px;
}
#sidebar ul {
    padding:0px;
    margin:0px;
    margin-top:40px;
}
#sidebar ul li {
    margin-bottom:10px;
    list-style: none;
    font-size:17px;
}

#sidebar ul li a{
    color:#FFF;
    font-size:17px;
}

#sidebar ul li i{
    color:#FFF;
    font-size:20px;
}

#sidebar a{
    color:#FFF;
    font-size:17px;
}

/* Content */
#content {
    padding:20px;
}
.detail-view{
    margin-top:30px;
}
.summary{
    margin-top:20px;
    margin-bottom:20px;
}

/* Footer */
footer {
    background:#dedede;
    padding:20px;
    margin:0px;
}

/* Utilities */
.row.no-pad {
    margin-right:0;
    margin-left:0;
}
.row.no-pad > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.mt-4{
    margin-top:30px;
}
.mb-4{
    margin-bottom:30px;
}
.mt-2{
    margin-top:20px;
}
.mb-2{
    margin-bottom:20px;
}